<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Kewl log viewer</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery-3.0.0.min.js"></script>
  </head>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="logCtrl.js"></script>
  <body>

  <div ng-app="kewl" ng-controller="logCtrl">
    <table class="table table-bordered table-striped">

        <thead>
            <tr>
                <th>Date</th>
                <th>App Name</th>
                <th>Level</th>
                <th>User</th>
                <th>Message</th>
            </tr>
            <tr>
                <th><input type="date" ng-model="selectedDate" ng-change="updateLogs()"></th>
                <th><select ng-model="selectedAppName" ng-options="x for x in appNames" ng-change="updateLogs()"></select></th>
                <th><select ng-model="selectedLevel" ng-options="x for x in levels" ng-change="updateLogs()"></select></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="log in logs">
                <td>{{ log._source.timestamp }}</td>
                <td>{{ log._source.appName }}</td>
                <td>{{ log._source.level }}</td>
                <td>{{ log._source.user }}</td>
                <td>{{ log._source.message }}</td>
            </tr>
        </tbody>
    </table>
  </div>
  </body>

  <script>
    require('./renderer.js')
  </script>
</html>
